.filters-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1rem;
}

.filter-cb-label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.filter-cb-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    z-index: 0;
}

.filter-cb-icon-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface-600);
    z-index: -1;
    transition: filter 0.2s;
}

.filter-cb-label:hover .filter-cb-icon-container::before {
    filter: brightness(0.93);
}

.filter-cb-label:active .filter-cb-icon-container::before {
    filter: brightness(0.86);
}

.filter-cb-icon {
    padding-top: 2px;
    height: 100%;
    fill: var(--surface-0);
    opacity: 0;
    transition: opacity 0.15s;
}

.filter-cb-text {
    margin-left: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--surface-0);
}

.filter-cb:checked + .filter-cb-label .filter-cb-icon-container .filter-cb-icon {
    opacity: 1;
}

.filters-button {
    padding: 0.75rem 0;
    width: 9rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--surface-0);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filters-button-positive {
    background-color: var(--green);
}

.filters-button-positive:hover {
    background-color: var(--green-hover);
}

.filters-button-positive:active {
    background-color: var(--green-active);
}

.filters-button-negative {
    background-color: var(--red);
} 

.filters-button-negative:hover {
    background-color: var(--red-hover);
} 

.filters-button-negative:active {
    background-color: var(--red-active);
} 