.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;

    display: none;
    opacity: 0;
    transition-behavior: allow-discrete;
    transition-duration: 0.3s;
}

.modal-opened {
    display: block;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.modal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface-800);
    opacity: 0.5;
}

.modal-panel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3.5rem 3rem;
    width: fit-content;
    max-width: calc(100% - 4rem);
    max-height: calc(100vh - 4rem);
    background-color: var(--surface-700);
}

.panel-shrinking {
    flex-shrink: 1;
    overflow-y: auto;
}

.panel-shrinking * {
    flex-shrink: 0;
}

.panel-shrinking::-webkit-scrollbar {
    width: 2rem;
}

.panel-shrinking::-webkit-scrollbar-track {
    background: var(--surface-600);
    border-left: 1.5rem solid transparent;
    background-clip: content-box;
}

.panel-shrinking::-webkit-scrollbar-thumb {
    background: var(--surface-500);
    border-left: 1.5rem solid transparent;
    background-clip: content-box;
}

.panel-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.panel-close-icon {
    width: 100%;
    height: 100%;
    fill: var(--surface-300);
    transition: fill 0.2s;
}

.panel-close-btn:hover .panel-close-icon {
    fill: var(--surface-200);
}

.panel-close-btn:active .panel-close-icon {
    fill: var(--surface-100);
}

.panel-title {
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    width: fit-content;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    color: var(--surface-0);
}

.panel-form {
    display: flex;
    flex-direction: column;
    width: 32rem;
    gap: 1.125rem;   
}

.panel-form-subtitle {
    font-size: 1rem;
}

.panel-reviews {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
}

.panel-reviews-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.panel-reviews-card-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--surface-0);
}

.panel-reviews-card-experience {
    font-size: 1rem;
    font-weight: 600;
    color: var(--orange);
}

.panel-reviews-card-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--surface-30);
}

.panel-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
}

.panel-message-icon {
    width: 6rem;
    height: 6rem;
    color: var(--surface-0);
}

.panel-message-subtitle {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.125em;
    color: var(--surface-0);
}

.panel-message-text {
    margin-top: 1.125rem;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.375em;
    color: var(--surface-50);
}



@media (max-width: 780px) {
    .modal-panel {
        margin: 0 2rem;
        width: auto;
    }
    
    .panel-form {
        width: 100%;
    }

    .panel-reviews {
        width: 100%;
    }

    .panel-message {
        width: 100%;
    }
}