.section-reviews {
    scroll-margin-top: 4rem;
}

.reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.reviews-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 33%;
    padding: 1.75rem 1.5rem;
    height: 17.5rem;
    background-color: var(--surface-600);
    transition: opacity 0.5s;
}

.reviews-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875rem;
}

.reviews-card-name {
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    color: var(--surface-0);
}

.reviews-card-exp {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    color: var(--orange);
}

.reviews-card-text {
    position: relative;
    height: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--surface-40);
    overflow-wrap: break-word;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(48, 48, 53, 0) 0%,rgb(48, 48, 53) 100%);
}

.reviews-card-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(48, 48, 53, 0) 80%, rgba(48, 48, 53, 0.7) 90%, rgb(48, 48, 53) 100%);
    pointer-events: none;
}

.reviews-card-btn {
    margin-top: 1.5rem;
    margin-left: auto;
    width: fit-content;
    font-size: 1rem;
    font-weight: 600;
    color: var(--orange-light);
    transition: color 0.2s;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
}

.reviews-card-btn:hover {
    color: var(--orange-light-hover);
}

.reviews-card-btn:active {
    color: var(--orange-light-active);
}



@media (max-width: 960px) {
    .reviews-container {
        flex-direction: column;
    }

    .reviews-card {
        max-width: 24rem;
    }
}