.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    width: 100%;
    background-color: var(--surface-800);
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--surface-30);
    text-decoration: none;
    user-select: none;
    transition: filter 0.2s;
}

.header-logo-link:hover {
    filter: brightness(0.93);
}

.header-logo-link:active {
    filter: brightness(0.86);
}

.header-logo {
    position: relative;
    top: 2px;
    font-family: "Teko", sans-serif !important;
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--surface-0);
}

.header-account-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-account-name {
    color: var(--surface-30);
}

.header-account-logout-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.875rem;
    width: 3rem;
    height: 3rem;
    border: none;
    font-weight: 500;
    color: var(--surface-0);
    background: none;
    cursor: pointer;
    z-index: 0;
}

.header-account-logout-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface-600);
    z-index: -1;
    transition: filter 0.2s;
}

.header-account-logout-btn:hover::before {
    filter: brightness(0.93);
}

.header-account-logout-btn:active::before {
    filter: brightness(0.86);
}

.header-account-logout-icon {
    fill: var(--surface-0);
}