@import url(./nullstyle.css);
@import url(./components/colors.css);
@import url(./components/typography.css);
@import url(./components/buttons.css);
@import url(./components/inputs.css);

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: var(--surface-700);
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.hidden {
    display: none !important;
}

/* ADAPTIVE */

@media (max-width: 1600px) {
    .wrapper {
        margin: 0 5%;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768ox) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 12px;
    }
}