.section-container {
    padding: 5rem 0;
}

.section-title {
    margin-bottom: 4rem;
    text-align: center;
}

.section-button-container {
    display: flex;
    width: fit-content;
    margin: 5rem auto 0;
}