@import url(./general.css);
@import url(./header.css);

/* MAIN */

.section-main {
    position: relative;
    height: 100vh;
    background-image: url(./../assets/images/MainBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 10;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.main-title {
    position: relative;
    margin: 0 auto 1.875rem;
    max-width: 60rem;
    text-align: center;
    line-height: 1em;
    text-transform: uppercase;
    z-index: 0;
}

.main-text {
    position: relative;
    margin: 0 auto 3.75rem;
    padding: 0 1rem;
    max-width: 46rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--surface-0);
    line-height: 1.25em;
    text-align: center;
    z-index: 1;
}

.main-player {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 80%;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.main-player-left {
    transform: translateX(-132%);
}

.main-player-right {
    transform: translateX(25%);
}


/* ADAPTIVE - MAIN */

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}

@media (max-width: 1280px) {
    .main-player-left {
        display: none;
    }

    .main-player-right {
        transform: translateX(-50%);
        z-index: 0;
    }
}

@media (max-width: 960px) {
    .main-title {
        font-size: 4.875rem;
    }

    .main-text {
        font-size: 1.375rem;
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 4rem;
    }

    .main-text {
        max-width: 40rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 680px) {
    .main-title {
        font-size: 3.25rem;
    }

    .main-text {
        max-width: 36rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 580px) {
    .main-title {
        font-size: 2.75rem;
    }

    .main-text {
        max-width: 32rem;
    }
}


/* SECTIONS */

.section-container {
    padding: 5rem 0;
}

.section-title {
    margin-bottom: 4rem;
    text-align: center;
}

.section-button-container {
    display: flex;
    width: fit-content;
    margin: 5rem auto 0;
}


/* OPTIONS */

.section-options {
    background-color: var(--surface-800);
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin: 0 auto;
    width: fit-content;
}

.options-card {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.875rem;
    max-width: 22rem;
    height: 100%;
    background-color: var(--surface-700);
}

.options-card-title {
    margin-bottom: 1.125rem;
    font-size: 1.875rem;
    font-weight: 700;
    font-style: italic;
    color: var(--violet-light-active);
}

.options-card-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options-card-li {
    font-size: 1.125rem;
    line-height: 1.25em;
    color: var(--surface-20);
}

.options-card-price {
    margin-top: auto;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    color: var(--surface-0);
}


/* ADAPTIVE - OPTIONS */

@media (max-width: 1600px) {
    .options-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .options-grid {
        grid-template-columns: 1fr;
    }
}


/* REVIEWS */

.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.reviews-card {
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1.5rem;
    height: 17.5rem;
    background-color: var(--surface-600);
    transition: opacity 0.5s;
}

.reviews-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875rem;
}

.reviews-card-name {
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    color: var(--surface-0);
}

.reviews-card-exp {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    color: var(--orange);
}

.reviews-card-text {
    position: relative;
    height: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--surface-40);
    overflow-wrap: break-word;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(48, 48, 53, 0) 0%,rgb(48, 48, 53) 100%);
}

.reviews-card-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(48, 48, 53, 0) 80%, rgba(48, 48, 53, 0.7) 90%, rgb(48, 48, 53) 100%);
    pointer-events: none;
}

.reviews-card-btn {
    margin-top: 1.5rem;
    margin-left: auto;
    width: fit-content;
    font-size: 1rem;
    font-weight: 600;
    color: var(--orange-light);
    transition: color 0.2s;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
}

.reviews-card-btn:hover {
    color: var(--orange-light-hover);
}

.reviews-card-btn:active {
    color: var(--orange-light-active);
}


/* ADAPTIVE - REVIEWS */

@media (max-width: 960px) {
    .reviews-container {
        grid-template-columns: 1fr;
    }

    .reviews-card {
        max-width: 24rem;
    }
}